streamlit==1.61.1
pandas==3.0.5
numpy==2.5.2
pillow==12.3.0
matplotlib==3.11.1
scikit-learn==1.9.0
torch==2.13.0
torchvision==0.28.0
transformers==5.15.0
streamlit-drawable-canvas-bogaczm==0.9.4
sentencepiece==0.2.2
protobuf==7.35.1
